<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="EPSILab.SolarSystem.Earth.WCF.ReadersService">
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Readers.IConferenceReader">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Readers.ILienReader">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Readers.IMembreReader">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Readers.INewsReader">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Readers.IProjetReader">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Readers.IPubliciteReader">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Readers.ISalonReader">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Readers.IVilleReader">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/EPSILab/Earth/WCF/Services/Readers" />
          </baseAddresses>
        </host>
      </service>
      <service name="EPSILab.SolarSystem.Earth.WCF.ManagersService">
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Managers.IClasseManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Managers.IConferenceManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Managers.ILienManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Managers.IMembreManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Managers.INewsManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Managers.IProjetManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Managers.IPubliciteManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Managers.ISalonManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" contract="EPSILab.SolarSystem.Earth.WCF.Interfaces.Managers.IVilleManager">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/EPSILab/Earth/WCF/Services/Managers" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <connectionStrings>
    <add name="SunModelEntities" connectionString="metadata=res://*/Model.SunModel.csdl|res://*/Model.SunModel.ssdl|res://*/Model.SunModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=epsilab.net;initial catalog=epsilab;persist security info=True;user id=epsilab;password=3ps1l4b62!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>