<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="Logs/Log.log"/>
    <threshold value="INFO"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyyMMdd"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="*%-10level %-30date %-25logger %message %newline"/>
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
  </root>
  <logger name="CampusDAL">
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="ConferenceDAL">
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="LinkDAL">
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="MemberDAL">
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="NewsDAL">
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="ProjectDAL">
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="PromotionDAL">
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="ShowDAL">
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </logger>
  <logger name="SlideDAL">
    <level value="ALL"/>
    <appender-ref ref="RollingFile"/>
  </logger>
</log4net>