<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SunModelEntities" connectionString="metadata=res://*/Model.SunModel.csdl|res://*/Model.SunModel.ssdl|res://*/Model.SunModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=epsilab.net;Initial Catalog=epsilab;Persist Security Info=True;User ID=epsilab;Password=3ps1l4b62!;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>