<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SunModelEntities" connectionString="metadata=res://*/Model.SunModel.csdl|res://*/Model.SunModel.ssdl|res://*/Model.SunModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=epsilab.net;initial catalog=epsilab;persist security info=True;user id=epsilab;password=3ps1l4b62!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>